<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>jQuery Tilted Page Scroll by Pete R. | The Pete Design</title>
  <meta name="title" content="jQuery One Page Scroll by Pete R. | The Pete Design" />
  <meta name="description" content="Create a beautiful 3D tilted effect on scroll with jQuery Tilted Page Scroll plugin by Pete Rojwongsuriya" />

  <meta content="http://www.thepetedesign.com/demos/tiltedpage_scroll_demo.html" property="og:url" />
  <meta content="http://www.thepetedesign.com/images/tiltedpage_scroll_image.png" property="og:image" />
  <link rel="shortcut icon" id="favicon" href="favicon.png"> 
  <meta name="author" content="Pete R.">
  <link rel="canonical" href="http://www.thepetedesign.com/demos/tiltedpage_scroll_demo.html" />
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico:400' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="jquery.tiltedpage-scroll.js"></script>
  <link href='tiltedpage-scroll.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/tiltedpage-scroll.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/a.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/a.css')}}">


  
  </head>

  <body>
    
<div class="wrapper"> 
    <!-- End AdPacks.com Zone Code -->
<div class="main">
      <div class="header">
        <div id="nav">
      <ul class="nav-menu">
                <image class="" src="{{ url_for('static', filename='img/l.png')}}" style="width: 150px;margin-right: -150px;margin-top: -20px;">

        <li><a href="A.html" class="three-d">
          Home
          <span class="three"><span class="front">Home</span><span class="back">Home</span></span>
        </a></li>
        <li><a href="#" class="three-d">
          Learn          <span class="three"><span class="front"> Learn</span><span class="back">Learn</span></span>
        </a></li>
        <li><a href="/base3" class="three-d">
          Translate
          <span class="three"><span class="front">Translate</span><span class="back">Translate</span></span>
        </a></li>
        <li><a href="#" class="three-d">
          Message
          <span class="three"><span class="front">Message</span><span class="back">Message</span></span>
        </a></li>
        <li><a href="#" class="three-d">
          Comments
          <span class="three"><span class="front">Comments</span><span class="back">Comments</span></span>
        </a></li>
        <li><a href="#" class="three-d">
          Profile
          <span class="three"><span class="front">Profile</span><span class="back">Profile</span></span>
        </a>
         
        </li>
        <li><a href="#" class="three-d">
          logout
          <span class="three"><span class="front">logout</span><span class="back">logout</span></span>
        </a></li>
        
        <li><a href="#" class="three-d">
          FAQ
          <span class="three"><span class="front">FAQ</span><span class="back">FAQ</span></span>
        </a></li>
        
        
        
        
        
        
      </ul>
    </div> 
      </div>
      

<section class="home">
 

    <div class="content" data-0-top="opacity:0;left:300px;" data-600-top="opacity:1;left:0px;" >
               <image class="" src="{{ url_for('static', filename='img/xx.png')}}" width="600px;height:20px;">



    </div>
    
        <div class="i1"><image src="{{ url_for('static', filename='img/g.gif')}}" class="im1"></div>
        <div class="i2"><image src="{{ url_for('static', filename='img/c.gif')}}" class="im2"></div>
        <div class="i3"><image src="{{ url_for('static', filename='img/f.png')}}" class="im3"></div>





    
</section>




      <section class="page2">
        <div class="letters">
          <a href="/video"><image src="{{ url_for('static', filename='img/2.png')}}" class="il2"></a>
          <a href="/colors"><image src="{{ url_for('static', filename='img/3.png')}}" class="il3"></a>
          <a href=""><image src="{{ url_for('static', filename='img/4.png')}}" class="il4"></a>

        </div>

      </section>
      <section class="page3">
       
<div class="page">
<a href="/video">
 <div class="card">
    <span class="body1">
  <image src="{{ url_for('static', filename='img/z.png')}}" class="m1">       
    <h1>Family Members</h1>

      <span class="reflection-layer top-left"></span>
      <span class="reflection-layer top-right"></span>
      <span class="reflection-layer bottom-left"></span>
      <span class="reflection-layer bottom-right"></span>
    </span>
  </div>

  </a> 


  <a href="/numbers">
 <div class="card">
    <span class="body2">
        <image src="{{ url_for('static', filename='img/z2.png')}}" class="m2"><h1>Numbers</h1>


      <span class="reflection-layer top-left"></span>
      <span class="reflection-layer top-right"></span>
      <span class="reflection-layer bottom-left"></span>
      <span class="reflection-layer bottom-right"></span>
    </span>
  </div>

  </a> 
  <a href="/colors">
 <div class="card">
    <span class="body3">
        <image src="{{ url_for('static', filename='img/z.png')}}" class="m3"><h1>hello</h1>


      <span class="reflection-layer top-left"></span>
      <span class="reflection-layer top-right"></span>
      <span class="reflection-layer bottom-left"></span>
      <span class="reflection-layer bottom-right"></span>
    </span>
  </div>

  </a>   </div>
       
      </section>
      <section class="page4">
        


<div class="containerx">
  <div class="cardx">
    <h3 class="title">Card 1</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <circle class="stroke" cx="60" cy="60" r="50"/>
    </svg>
    </div>
  </div>
  <div class="cardx">
    <h3 class="title">Card 2</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <circle class="stroke" cx="60" cy="60" r="50"/>
    </svg>
    </div>
  </div>
  <div class="cardx">
    <h3 class="title">Card 3</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <circle class="stroke" cx="60" cy="60" r="50"/>
    </svg>
    </div>
  </div>
  <div class="cardx">
    <h3 class="title">Card 4</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <circle class="stroke" cx="60" cy="60" r="50"/>
    </svg>
    </div>
  </div>
</div>

      </section>
      <section class="page5">
        <div class="page_container">
         <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                   {% for post in post%}
                    <div class="post-preview">
                        <a href={{"/post/" + post.slug}}>
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.subtitle}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{post.author}}</a>
                            on {{post.date_posted.strftime('%B %d, %Y')}}
                        </p>
                        <img src= " url_for('{{ url_for('static', filename='img/'+post.img_file)}}') ">

                    </div>
                    {% endfor %}
                    <!-- Divider-->

                    <!-- Divider-->

                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                </div>
            </div>
        </div>
        </div>
      </section>
      
    </div>
    
  </div>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11278966-3"></script>


<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-11278966-3');
</script>
<script type="text/javascript"></script>
<script>
    $(document).ready(function(){
      $(".main").tiltedpage_scroll({
        angle: 20
      });
    });
    
    </script>

        <script src="{{url_for('static',filename='js/script1.js')}}"></script>

        <script src="{{url_for('static',filename='js/jquery.tiltedpage-scroll.js')}}"></script>
        

</body>
</html>
